<h1>Rock Island Ticket Rates</h1>

<%= render 'shared/credit_cards' %>
<p class="caption">(Accepted at Northport Ferry Terminal only. Credit cards are <strong>NOT</strong> accepted at the Rock Island Ferry/Karfi dock.)</p>

<table class="table">
  <th colspan="2">Combination Passenger Tickets<br><span class="caption">(Round trip ferries to <strong>BOTH</strong> Washington and Rock Island)</span></th>
  <tr>
    <td>Adult</td>
    <td>$24.50</td>
  </tr>
  <tr>
    <td>Child (ages 6-11)</td>
    <td>$12.00</td>
  </tr>
  <tr>
    <td>Child (ages 5 and under)</td>
    <td>FREE</td>
  </tr>
</table>

<table class="table">
  <th colspan="2">Single Round Trip Tickets<br><span class="caption">(Ferry from Washington Island to Rock Island <strong>ONLY</strong>)</span></th>
  <tr>
    <td>Adult</td>
    <td>$11.00</td>
  </tr>
  <tr>
    <td>Child (ages 6-11)</td>
    <td>$5.00</td>
  </tr>
  <tr>
    <td>Child (ages 5 and under)</td>
    <td>FREE</td>
  </tr>
</table>

<table class="table">
  <th colspan="2">Other Fares*</th>
  <tr>
    <td>Camping Cart or Wagon</td>
    <td>$3.00</td>
  </tr>
  <tr>
    <td>Canoe or Kayak</td>
    <td>$10.00</td>
  </tr>
  <tr>
    <td>Pets</td>
    <td>FREE</td>
  </tr>
</table>

<p class="caption">*Vehicles are NOT allowed on Rock Island but ARE allowed on Washington Island. You must provide your own transportation across Washington Island to Jackson Harbor (Rock Island Ferry dock). Free parking is available at Jackson Harbor.</p>