<h1>Washington Island Ticket Rates</h1>
<%= render 'shared/credit_cards' %>
<p class="caption">(Accepted at Northport Ferry Terminal ONLY.)</p>

<table class="table">
  <th colspan="2">Round Trip Passenger Tickets<br><span class="caption">(Round trip between the Door County mainland and Washington Island. Washington Island Ferry ONLY.)</span></th>
  <tr>
    <td>Adult</td>
    <td>$13.50</td>
  </tr>
  <tr>
    <td>Child (ages 6-11)</td>
    <td>$7.00</td>
  </tr>
  <tr>
    <td>Child (ages 5 and under)</td>
    <td>FREE</td>
  </tr>
</table>

<table class="table">
  <th colspan="2">Cherry Train Combo Tickets<br><span class="caption">(Washington Island Ferry plus <a href="/cherry-train">Cherry Train</a>)</span></th>
  <tr>
    <td>Adult</td>
    <td>$28.50</td>
  </tr>
  <tr>
    <td>Child (ages 6-11)</td>
    <td>$14.00</td>
  </tr>
  <tr>
    <td>Child (ages 5 and under)</td>
    <td>FREE</td>
  </tr>
</table>

<table class="table">
  <th colspan="2">Other Fares (Round Trip)</th>
  <tr>
    <td>Automobile (Passengers not included)</td>
    <td>$26.00</td>
  </tr>
  <tr>
    <td>Motorcycle</td>
    <td>$15.00</td>
  </tr>
  <tr>
    <td>Bike</td>
    <td>$4.00</td>
  </tr>
  <tr>
    <td>Pets</td>
    <td>FREE</td>
  </tr>
</table>

<table class="table">
  <th colspan="2">Oversize Vehicles ONE WAY<br><span class="caption">April 1 – December 20.<br>Motorhomes, trailers, semis, box/flatbed trucks. Measured by maximum length.</th>
  <tr>
    <td>15' up to 20'</td>
    <td>$15.00</td>
  </tr>
  <tr>
    <td>20' up to 25'</td>
    <td>$28.00</td>
  </tr>
  <tr>
    <td>25' up to 30'</td>
    <td>$34.00</td>
  </tr>
  <tr>
    <td>30' up to 35'</td>
    <td>$42.00</td>
  </tr>
  <tr>
    <td>35' up to 45'</td>
    <td>$52.00</td>
  </tr>
  <tr>
    <td>45' up to 55'</td>
    <td>$60.00</td>
  </tr>
  <tr>
    <td>55' up to 60'</td>
    <td>$74.00</td>
  </tr>
  <tr>
    <td colspan="2">For oversize items not listed above please <a href="/contact">email us</a> or call us at (800) 223-2094.</td>
  </tr>
  <tr>
    <td colspan="2"><strong>Net payload charge of $7.50 per ton may apply to the load carried in or on semis, dump trucks, box/flatbed trucks, flat deck and enclosed trailers.</strong></td>
  </tr>
</table>
