<% @title = "Contact Us" %>
<% @description = "Contact the Washington Island Ferry, operating between the Door Peninsula and beautiful Washington Island!" %>

<!-- WBAY Retargeting Pixel -->
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=eqfrxlx&ct=0:ei5bm8a&fmt=3"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-intro">
        <h1>Questions? Comments? Contact Us...</h1>
        <h2>From the Tip of Door County’s Peninsula—Visit Washington Island.</h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="main-content">
        <div class="row">
          <div class="col-md-8">
            <p>Contact us with any questions or comments about our ferry service, Washington Island or our website.</p>
            <a name="form757462760" id="formAnchor757462760"></a>
            <script type="text/javascript" src="http://fs10.formsite.com/include/form/embedManager.js?757462760"></script>
            <script type="text/javascript">
            EmbedManager.embed({
            	key: "http://fs10.formsite.com/fs10_app/FormSite?EParam=IRLY%2BVpkNNgGlFMPzwe1pSPoPJMOjxIEKm8qHSeyW8CjlsYIe6i2Eonjqh0%2BizcTCaBCVBpxwSA%3D&757462760",
            	width: "100%"
            });
            </script>
          </div>
          <div class="col-md-4">
            <h1>Washington Island Ferry Line</h1>
            <p class="small"><strong>Phone:</strong> (800) 223-2094 or (920) 847-2546<br>
            <strong>Fax:</strong> (920) 847-2807<br>
            <strong>Email:</strong> <a href="mailto:info@wisferry.com">info@wisferry.com</a><br>
            <strong>Address:</strong><br>
            P.O. Box 39<br>
            Washington Island, Wisconsin 54246</p>

            <h2>Driving Directions</h2>
            <p>The ferry is located on the tip of the Door Peninsula, which is the Northeast corner of Wisconsin. Take Highway 57 North from Green Bay to Sturgeon Bay. From there, you can take either Hwy 42 or Hwy 57 to Sister Bay. Then, follow Hwy 42 to its end at Northport Pier.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d179661.42421914704!2d-87.08142584617839!3d45.28398299402334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d4d18e4d182ea0d%3A0xe3e1ba339daffd24!2sNorthport+Pier!5e0!3m2!1sen!2sus!4v1426627096285" width="100%" height="350" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
