<% @title = "Our Fleet of Vessels" %>
<% @description = "The Washington Island Ferry fleet features several vessels that run between Door County, Wisconsin and beautiful Washington Island." %>

<!-- WBAY Retargeting Pixel -->
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=eqfrxlx&ct=0:ei5bm8a&fmt=3"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-intro">
        <h1>Solid and Seafaring–the Washington Island Ferry Fleet...</h1>
        <h2>From the Tip of Door County’s Peninsula—Visit Washington Island.</h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="main-content">
        <div class="row">
          <div class="col-md-8 center-block">
            <h1>Our Fleet</h1>

            <p>There are four ferry boats that make up the current Washington Island Ferry fleet. Each ferry can carry 150 passengers and 18–21 autos. The fleet includes the Arni J. Richter, a unique four-season ferry built for the Washington Island Ferry Line in 2002–2003.</p>
          </div>
          <div class="col-sm-12">
            <hr>
            <h2>Arni J. Richter (Ice Breaker)</h2>
          </div>
          <div class="col-sm-5">
            <%= image_tag 'arni-docking2-lg.jpg' %>
          </div>
          <div class="col-sm-7">
            <table class="table table-striped">
              <tr>
                <th>Official Number</th>
                <td>1140323</td>
              </tr>
              <tr>
                <th>Year Built</th>
                <td>2003</td>
              </tr>
              <tr>
                <th>Builder</th>
                <td>Bay Ship Building, Sturgeon Bay, WI</td>
              </tr>
              <tr>
                <th>Dimensions</th>
                <td>104' x 38' x 10'</td>
              </tr>
              <tr>
                <th>Gross Weight</th>
                <td>92 Tons</td>
              </tr>
              <tr>
                <th>Propulsion</th>
                <td>2 CAT 3508B, 1000 hp each at 1600 rpm</td>
              </tr>
              <tr>
                <th>Capacity</th>
                <td>150 Passengers, 18 Autos</td>
              </tr>
              <tr>
                <th>Other</th>
                <td>Ice hull, ice class propeller. Named after long-time Ferry Line owner, captain and islander, Arni Richter.</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-12">
            <hr>
            <h2>Eyrarbakki</h2>
          </div>
          <div class="col-sm-5">
            <%= image_tag 'eyrarbakki-port-lg.jpg' %>
          </div>
          <div class="col-sm-7">
            <table class="table table-striped">
              <tr>
                <th>Official Number</th>
                <td>527292</td>
              </tr>
              <tr>
                <th>Year Built</th>
                <td>1970</td>
              </tr>
              <tr>
                <th>Builder</th>
                <td>Bay Ship Building, Sturgeon Bay, WI</td>
              </tr>
              <tr>
                <th>Dimensions</th>
                <td>87' x 36' x 8'</td>
              </tr>
              <tr>
                <th>Gross Weight</th>
                <td>95.7 Tons</td>
              </tr>
              <tr>
                <th>Propulsion</th>
                <td>2 Cummins NTA 855, 350 hp ea. at 1800 rpm</td>
              </tr>
              <tr>
                <th>Capacity</th>
                <td>150 Passengers, 18 Autos</td>
              </tr>
              <tr>
                <th>Other</th>
                <td>Named after a village on the southern coast of Iceland, port of emigration for many Icelanders who came to Washington Island in the late 1800s.</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-12">
            <hr>
            <h2>Robert Noble</h2>
          </div>
          <div class="col-sm-5">
            <%= image_tag 'robert-noble-main-lg.jpg' %>
          </div>
          <div class="col-sm-7">
            <table class="table table-striped">
              <tr>
                <th>Official Number</th>
                <td>606532</td>
              </tr>
              <tr>
                <th>Year Built</th>
                <td>1979</td>
              </tr>
              <tr>
                <th>Builder</th>
                <td>Peterson Builders, Sturgeon Bay, WI</td>
              </tr>
              <tr>
                <th>Dimensions</th>
                <td>90' x 36' x 8'</td>
              </tr>
              <tr>
                <th>Gross Weight</th>
                <td>97 Tons</td>
              </tr>
              <tr>
                <th>Propulsion</th>
                <td>2 CAT C18, 454 hp ea. at 1800 rpm</td>
              </tr>
              <tr>
                <th>Capacity</th>
                <td>150 Passengers, 19 Autos</td>
              </tr>
              <tr>
                <th>Other</th>
                <td>Named after a twenty-five year old man who survived icy Death&#8217;s Door waters in December of 1864. A few years later, Noble became owner and operator of the first propeller-driven ferry in Door County, operating in Sturgeon Bay until a bridge was eventually constructed in 1870.</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-12">
            <hr>
            <h2>Washington</h2>
          </div>
          <div class="col-sm-5">
            <%= image_tag 'washington-hero-lg.jpg' %>
          </div>
          <div class="col-sm-7">
            <table class="table table-striped">
              <tr>
                <th>Official Number</th>
                <td>949690</td>
              </tr>
              <tr>
                <th>Year Built</th>
                <td>1989</td>
              </tr>
              <tr>
                <th>Builder</th>
                <td>Peterson Builders, Sturgeon Bay, WI</td>
              </tr>
              <tr>
                <th>Dimensions</th>
                <td>100' x 37' x 9'</td>
              </tr>
              <tr>
                <th>Gross Weight</th>
                <td>82 Tons</td>
              </tr>
              <tr>
                <th>Propulsion</th>
                <td>2 CAT C18, 487 hp ea. at 1800 rpm</td>
              </tr>
              <tr>
                <th>Capacity</th>
                <td>150 Passengers, 21 Autos</td>
              </tr>
              <tr>
                <th>Other</th>
                <td>Named for the flagship of a squadron of three U.S. vessels which anchored in the northern island harbor (now Washington Harbor), and later secured a foothold in Green Bay following the War of 1812.</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
