<% @title = "Rates, Schedule and Ferry Information..." %>
<% @description = "Get Washington Island and Karfi Ferry info and rates for trips to Door County's Washington Island and Rock Island in beautiful northeast Wisconsin." %>

<!-- WBAY Retargeting Pixel -->
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=eqfrxlx&ct=0:ei5bm8a&fmt=3"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-intro">
        <h1>Visiting the Islands</h1>
        <h2>Ride the Ferries to Wisconsin&#8217;s Favorite Islands...</h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="main-content">
        <div class="row">
          <div class="col-md-8 center-block">
            <p>Washington Island is home to <a href="/plan-trip">great restaurants, numerous lodging options and varied activities</a> such as kayaking and museums, while Rock Island offers an unspoiled, back-to-nature experience.</p>
            <p>Whether you are looking for an afternoon away from it all, a quick weekend get-a-way or a longer, relaxing stay, you’ll find a warm welcome—and plenty to do—on Washington Island and Rock Island in Wisconsin’s Door County.</p>
            <p><a href="/washington-island-ferry" class="btn btn-default btn-lg btn-block">Washington Island Ferry Schedule</a></p>
            <p><a href="/rock-island-ferry" class="btn btn-green btn-lg btn-block">Rock Island Ferry Schedule</a></p>
            <p><a href="/cherry-train" class="btn btn-red btn-lg btn-block">Cherry Train</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
