<% @title = "Weather Forecasts" %>
<% @description = "Washington Island weather forecasts." %>

<!-- WBAY Retargeting Pixel -->
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=eqfrxlx&ct=0:ei5bm8a&fmt=3"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-intro">
        <h1>Washington Island Weather Links...</h1>
      </div>
    </div>

    <div class="col-md-12">
      <div class="main-content">
        <div class="row">
          <div class="col-md-7 center-block">
            <p>Here are several websites that offer weather reports for Washington Island. Also, check out our <a href="/web-cam">webcams</a> to see up-to-the-minute snapshots of our ports.</p>
            <ul>
            	<li><a target="_blank" href="http://radar.weather.gov/radar.php?rid=grb&product=NOR&overlay=1110111&loop=170">National Weather Service National Radar</a></li>
              <li><a target="_blank" href="http://www.fox11online.com/subindex/weather">Green Bay TV 11 Live Doppler Radar</a></li>
              <li><a target="_blank" href="http://www.crh.noaa.gov/crh/">Marine Observation, Issued by NWS Green Bay, WI</a></li>
              <li><a target="_blank" href="http://www.crh.noaa.gov/product.php?site=GRB&product=NSH&issuedby=GRB">NWS Nearshore Marine Forecast</a></li>
              <li><a target="_blank" href="http://www.crh.noaa.gov/product.php?site=GRB&product=GLF&issuedby=LM">NOAA Open Lake 7 Day Forecast</a></li>
              <li><a target="_blank" href="http://www.ndbc.noaa.gov/station_page.php?station=npdw.3">Northport Pier Weather Station</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
